# Python
__pycache__/
*.pyc

# Virtual env
venv/
env/

# Database
*.db

# Build files
build/
dist/
*.spec

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Uploads (user data)
uploads/

# Backup files
*.sql

# Executables
*.exe