Flask==2.3.0
Flask-Login==0.6.2
Flask-Mail==0.10.0
Flask-Migrate==4.0.4
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
SQLAlchemy==2.0.45
psycopg2-binary==2.9.12
reportlab
pandas
openpyxl
num2words
pdfplumber
Pillow
lxml
matplotlib
python-dotenv==1.0.0
Werkzeug==2.3.0
email-validator==2.0.0
requests==2.33.1
cryptography
itsdangerous
gunicorn==21.2.0
pywebview==5.3.4
pyinstaller==6.9.0
